##################
# intellij files #
##################
*.iws
*.iml
*.ipr
.idea/
!.idea/runConfigurations
.idea/inspectionProfiles
.idea/libraries
.idea/codeStyles
.idea/shelf
.idea/*.*
.idea/easycode

##########
# Docker #
##########
*.log
.env
.env.local

#######
# IDE #
#######
.vscode/
*.swp

######
# OS #
######
.DS_Store
Thumbs.db
